/* Component Imports */
@import "./styles/UserSearch.css";
@import "./styles/UserTable.css";
@import "./styles/Modals.css";
@import "./styles/Buttons.css";

/* Main App Styling */
.App {
  min-height: 100%;
  padding: 24px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
